<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <title>Edit Resource</title>
 </head>
 
 <body>
 <br>
 <center><h1>Edit Resource</h1></center>
 <p align="right" style="padding-right: 30px;"><a href='/'>Go Back to <i>HOME</i></a></p>
 <hr size=5 noshade>
 <br>
 <br>
 <form action="/editResource" method="post" id="editResourceForm">
 	<p style="padding-left: 35%;">Name:&nbsp;
 	<input type="text" size="35" name="resourceNameInput" id="resourceNameInput"
 	placeholder="Enter the Name of the Resource" required value="{{ resourceName }}" ></p>
 	<input type="hidden" name="val" id="val" value="{{ resourceName }}">
 	 	
 	<p style="padding-left: 35%;">Start Time:&nbsp;
 	<input type="time" name="availableStartTimeInput" id="availableStartTimeInput"
 	required value="{{ availableStartTime }}"></p>
 	
 	<p style="padding-left: 35%;">End Time:&nbsp;
 	<input type="time" name="availableEndTimeInput" id="availableEndTimeInput"
 	required value="{{ availableEndTime }}"></p>
 	
 	<p style="padding-left: 35%;">Tags:&nbsp;
 	<input type="text" size="60" name="tags" id="tags"
 	placeholder="Eg. classroom, library book, car share, video game, etc" value="{{ tags|join(', ') }}"></p>
 	
 	<p style="padding-left: 45%;">
 	<input type="submit" value="SUBMIT"></p>
 	
 </form>
 {% if Error %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Start time is more than the End time! 
  </div>
 {% endif %}
 
 {% if Error1 %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Resource name already exists. Please specify another name! 
  </div>
 {% endif %}
 
 </body>
 
</html>
{% endautoescape %}