<!DOCTYPE html>
{% autoescape true %}
<html>
 <head>
   <!-- [START css] -->
   <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
   <!-- [END css] -->
    <title>Reserve Resource</title>
 </head>
 
 <body>
 <br>
 <center><h1>Reserve Resource</h1></center>
 <p align="right" style="padding-right: 30px;"><a href='/'>Go Back to <i>HOME</i></a></p>
 <hr size=5 noshade>
 <br>
 <br>
 <form action="/reserveResource" method="post" id="editResourceForm">
 	<p style="padding-left: 35%;">Name:&nbsp;
 	<input type="text" size="35" name="resourceNameInput" id="resourceNameInput"
 	placeholder="Enter the Name of the Resource" required value="{{ resourceName }}" disabled ></p>
 	<input type="hidden" name="val" id="val" value="{{ resourceName }}">
 	
 	<p style="padding-left: 35%;">Reservation Date:&nbsp;
 	<input type="date" name="availableDateInput" id="availableDateInput" required value="{{ reservationDate }}"></p>
 	
 	<p style="padding-left: 35%;">Start Time:&nbsp;
 	<input type="time" name="availableStartTimeInput" id="availableStartTimeInput" required value="{{ availableStartTime }}"></p>
 	
 	<p style="padding-left: 35%;">Duration(mins):&nbsp;
 	<input type="text" name="reservationDurationInput" id="reservationDurationInput" required value="{{ reservationDuration }}"></p>
 	
 	<p style="padding-left: 45%;">
 	<input type="submit" value="RESERVE"></p>
 	
 </form>
 
  {% if Error0 %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Reservation date has already gone! 
  </div>
  {% endif %}
  
  {% if Error01 %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Reservation time has already gone! 
  </div>
  {% endif %}
 
  {% if Error %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Reservation start time is less than the resource available start time! 
  </div>
  {% endif %}
  
  {% if Error1 %}
  <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Error!</strong> Reservation end time is more than the resource available end time! 
  </div>
  {% endif %}
  
 </body>
</html>
{% endautoescape %}